{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/result.css' %}?{% now "U" %}">
    <title>조화도 검색 결과</title>
</head>
<body>
<div class="result_main">
    <div class="title">'연쇄폭행사건' 검색 결과</div>
    <div class="news_list">
        <div><a href="{% url 'news' %}">뉴스_1</a></div>
    </div>
    <div><a href="{% url 'main' %}">돌아가기</a></div>
</div>
</body>
</html>