.news{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 1000px;
    /* height: 1000px; */
    margin-bottom: 20px;
}

.news10{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
    margin-top:3%;
}

body{
    background-color: #333;
    /* background-color: transparent; */
}

.news_link{
    padding: 2px;
    display: inline;
    color:white;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: grey;
    margin-bottom: 10%;
}


.news_main{
    margin-top:5%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    line-height: 1.5;
    background-color: #333;
    height: 100%;
    
}

.news_main2{
    /* margin-top:5%; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    line-height: 1.5;
    background-color: white;
    height: 100%;
}

.news_main3{
    margin-top:5%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    line-height: 1.5;
    background-color: #333;
    height: 1000px;
}

a{
    display: inline;
    color:white;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: grey;
    cursor: pointer;
}

li{
    color : white;
    font-size: medium;
    margin:5px;
    text-align: left;
    margin-left: 38%;
}

ul{
    margin-bottom: 20px;
}

button{
    display: inline;
    color:white;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: grey;
    cursor: pointer;
}