body{
    background-color: #333;
}


.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    /* border: 1px solid blue; */
    
    padding: 20px;
}

.big_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: #fff;
    padding: 10px;
}

.logo img {
    width: 200px; /* 로고 이미지의 크기 조정 */
    height: auto;
    margin-bottom: 50px;
}

.search {
    
    margin-left: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form div{
    margin : 10px;
    text-align: center;
}