body{
    /* background-color: #333; */
    background-color: black;
}

input[type=submit]{
    cursor: pointer;
}

a{
    text-decoration: none;
}

.container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    /* border: 1px solid blue; */
    
    padding: 20px;
}

.big_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: #fff;
    padding: 10px;
}

.logo img {
    width: 200px; /* 로고 이미지의 크기 조정 */
    height: auto;
    margin-bottom: 50px;
}

.search {
    
    margin-left: 20px;
}

#search-box {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    /* background-color: #007bff; */
    background-color: grey;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form div{
    margin : 10px;
    text-align: center;
}

.news_link{
    display: inline;
    color:white;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: grey;
}

.login_css{
    padding: 10px;
    color:white;
    font-size:small;
    background-color: black;
}

.login_css a{
    color:white;
    font-size:small;
    background-color: black;
}

.sbox{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
}

.sign_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top:50px;
    /* border:1px solid white; */
}

.sign_box input {
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
}

.usern {
    width: 100px;
}

.sign_box button {
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
}