.news{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 1000px;
    height: 100%;
    margin-bottom: 5px;
}

body{
    background-color: #333;
}

.news_link{
    display: inline;
    color:white;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: grey;
}

.news_main{
    display: flex;
    flex-direction: column;
}

button{
    display: inline;
    color:white;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: grey;
    cursor: pointer;
}