ul {
    margin:10px;
}

h1 {
    font-size: large;
    font-weight: 800;
    margin: 10px;
}

li{
    margin-bottom: 5px;
}

.aa{
    margin:10px;
    margin-bottom: 10px;
    
    /* border:1px solid black; */
}

.aaa{
    padding-top:20px;
    margin:5px;
    margin-left: 10px;
    /* border:1px solid black; */
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}