{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}?{% now "U" %}">
    <title>자료 리스트</title>
</head>
<body>
  <div class="box">
    <h1>자료 리스트</h1>
    <ul>
      {% for post in posts %}
        <li>제목 : <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}({{ post.tag2 }})</a></li>
      {% endfor %}
    </ul>
    <a href="{% url 'post_new' %}" class="aaa">자료 추가하기</a>
    <p class="aa"><a href="{% url 'main' %}" >홈으로</a></p>
  </div>
</body>
</html>